div.footer {
  width: 100%;
  border-top: 1px solid #e1e1e1;
  footer {
    .container {
      ul {
        font-size: 0px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        line-height: 100px;
        li {
          display: inline-block;
          margin-right: 27px;
          font-size: 14px;
          @include transition-property(all);
          @include transition-duration(200ms);
          &:hover {
            a {
              color: #19b596;
            }
          }
          &:last-child {
            margin-left: 239px;
            margin-right: 0px;
            color: #8a8a8a;

          }
          a {
            text-decoration: none;
            color: #8a8a8a;
          }
        }
      }

    }
  }
}
